* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(230, 237, 255);
}

header img {
    width: 54px;
    height: 54px;
}

header {
    background-color: rgb(2, 2, 173);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}

.nav-list {
    display: flex;
}

.nav-list li {
    padding: 16px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
}

header a {
    color: rgb(255, 255, 255);
}

b {
    cursor: pointer;
    padding: 16px;
    transition: 0.5s;
    border-radius: 20px;
}

video {
    width: 80%;
}

.nav-list li:hover {
    background-color: rgb(0, 0, 255);
}

b:hover {
    background-color: rgb(0, 0, 255);
}

.vid {
    display: flex;
    justify-content: center;
}

.spanny {
    padding-bottom: 30px;
}

img {
    cursor: pointer;
}


.q li {
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(135, 155, 222);
    text-shadow: 3px 3px 7px rgba(0, 30, 255, 0.737);
    padding: 5px;
    color: black;
}

.about {
    padding-top: 34px;
    padding-bottom: 40px;
    font-size: 17px;
}

.q {
    display: inline-block;
}

.q li {
    margin-bottom: 10px;
}

.dr,
.q li a {
    color: rgb(72, 0, 255)
}

main h1,
main h3 {
    text-align: center;
    color: #d60000;
    -webkit-text-stroke: 1px #000000;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}
